/* MAIN */


html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;

    margin: 0;
}

header {
    background-color:  #1f2937;
    color: white;

    height: 25%;
    
}

ul {
    margin-right: 6%;
    list-style-type: none;
    display: flex;
}

li {
    margin-left: 30px;
}

p {
    text-align: justify;
}

a,
a:visited
a:hover {
    color: white;
    text-decoration: none;
}


/* HEADER SETUP */

.menu-container {
    
    display: flex;
    width:  100vw;
    justify-content: space-between;
    overflow: hidden;
  
}

.menu-container > p {
    font-weight: bold;
    font-size: larger;
    
    margin-left: 6%;
    margin-top: 14px;

}


.container-presentation {
    display: flex;
    justify-content: center;
    
    gap: 20px;
    margin-top: 20px;
    padding: 2%;
    padding-bottom: 100px;
}

.item1-presentation > p,
.item1-presentation > h1 {
    margin: 0;
    padding-top: 5px;;
} 

.item1-presentation,
.item2-presentation {
    width: 45%;
}

.item2-presentation {
    background-color: grey;
}

.button1 {
    /* button build */
    border: #3882F6 1px solid;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    padding: 2px 20px;
    cursor: pointer;

    /* space */
    margin-top: 5px;
}

/* MAIN SETUP */

main {
}

main > h2 {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0;

}

.boxes {
    /* flex all the boxes, make them gapped and justify them to the center */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0;
    margin-bottom: 60px;
}

.box {
    /* create the box */
    border: 5px solid blue;
    border-radius: 20px;
    width: 150px;
    height: 150px;

    margin: auto;
}

.item {
    max-width: 180px;
    /* flexbox each items, make the box align with the text */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.item > p {
    text-align: center;
    margin: 5px 0px;
}

/* QUOTE SETUP */

.container-quote {
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
    padding: 80px 20%;
}

.quote {
    color: #1F2937;
    text-align: justify;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;

    align-self: center;
}

.author {
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

/* SIGN UP SETUP */

.signup {
    background-color: #3882F6;
    border: 1px white solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 30px 10px;
    margin: 80px 10%;
}

h3 {
    color: #F9faf8;
    margin: 0;
}

.text {
    font-weight: lighter;
    color: #F9faf8;
}

.button2 {
    color: #F9faf8;
    background-color: #3882F6;
    border: 1px white solid;
    border-radius: 5px;
    padding: 1px 30px;

    cursor: pointer;
}

/* FOOTER SETUP */

footer {
    /* Stick footer to the bottom */
    min-height: 70px;
    margin-top: auto;

    background-color: #1F2937;
    color: #F9faf8;

    /* Centered text */
    display: flex;
    justify-content: center;
    align-items: center;

}